eclipse/CodeRepository/Course schedule creation/.metadata/.plugins/
eclipse/CodeRepository/Course schedule creation/bin/
eclipse/plugins/
eclipse/CodeRepository/Course schedule creation/doc/
eclipse/configuration/org.eclipse.osgi/386/0/.cp/icons/full/dlcl16/expandall.gif
eclipse/configuration/org.eclipse.osgi/
eclipse/configuration/
